body {
  background: url('/img/escheresque_ste.png');
}

.header h1{
  font-family: "Lato", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  color: white;
}

h1.logo {
  text-transform: uppercase;
  font-weight: lighter;
}

h1.logo span {
  color: #79ca3a;
}

h1.logo span.beta {
  font-size: 16px;
  color: #ccc;
}

.header {
  position: relative;
  margin: 30px auto 20px 0;
  text-align: center;
}

.block {
  background: white;
  height: auto;
  position: relative;
  padding: 5px 25px;
  margin: 20px auto;
}

a.try {
  background: #e6e6e6;
  color: #888;
  border-radius: 10px;
  padding: 4px 6px;
  font-size: 13px;
} 

a.right {
  display: block; 
  position: absolute;
  top: 12px;
  right: 13px;
}

.footer{
  margin:30px 0 20px 0;
  text-align: center;
  font-size: 11px;
  color: #fff;
}

.footer a{
  font-weight: bold;
}

.icons li {
  display: block;
  background: url(/img/iconsprite.png) no-repeat;
  padding: 15px 0 0 70px;
  height: 50px;
  margin: 0 0 20px 0;
}

.icons #actor {
  background-position: 0px 0px;
}

.icons #director {
  background-position: 0px -60px;
}

.icons #year {
  background-position: 0px -120px;
}

.icons #genre {
  background-position: 0px -180px;
}
